<VirtualHost *:80>
    ServerName {{ client_domain }}
    DocumentRoot {{ suitecrm_web_root }}

    <Directory {{ suitecrm_web_root }}>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/suitecrm_error.log
    CustomLog ${APACHE_LOG_DIR}/suitecrm_access.log combined
</VirtualHost>
